.InterH1{

display: flex;
justify-content:flex-start;
padding-left: 200px;
}


 
.InterImage  
{ 
width: 350px;
 max-width: 100%;
height: 206px;
}
.InterAnchor
{

text-decoration:none;
color: black;
}
.InterAnchor:hover
{

text-decoration:underline;
color: rgb(29, 28, 28);
}
 
.InterPara,.InterAnchor
{ 
    width: 540px;
    max-width: 100%;
 
    }
 
   
 .InterArticle
    {
        gap: 20px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        padding: 14px;

    }  
    .InterArticleChild
    {
          
        
        gap:20px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-content: flex-start;
 
        
       
    }  
    

 @media (max-width: 768px) {
 
    .InterArticleChild
    {
        gap:20px;
        max-width: 100%;
        flex-direction: column;
 
 
        
       
    }  
    
  
    .InterArticle
    {
      
        display: flex;
        flex-direction: column;
       
     
    }  

    .InterImage  
    { 
        height: 400px;
        width: 739px;
     max-width: 100%;

    }


    .InterPara,.InterAnchor
    { 
        height: auto;
        width: 739px;
     max-width: 100%;
     
        }



 
}