:root
{
--primarycolor:rgb(0, 0, 0);
--secondary:rgb(250, 235, 235);
--third:rgb(169, 169, 169);

--success:rgb(251, 32, 32);
--clear:rgb(218, 141, 141);
 

--main:rgb(13,190,152);

--greey:rgb(172,172,172);

}

:root
{


--firstfami: Arial, Helvetica, sans-serif;
 
 
}


